<header class='header-nav'>

  <div class='toggle-container'>
    <input type='checkbox' id='switch' name='theme'/><label for='switch'>Toggle</label>
  </div>

  <div class='menu-btn'>
    <div class='btn-line'></div>
    <div class='btn-line'></div>
    <div class='btn-line'></div>
  </div>

  <nav class='menu'>
    <div class='menu-branding'>
      <div class='portrait'></div>
    </div>
    <ul class='menu-nav'>
      <li class='nav-item'>
        <a href='/' class='nav-link'>Home</a>
      </li>
      <li class='nav-item'>
        <a href='/about' class='nav-link'>About</a>
      </li>
      <li class='nav-item'>
        <a href='/portfolio' class='nav-link'>Portfolio</a>
      </li>
      <li class='nav-item'>
        <a href='./public/AgungTuanany-cv-22.pdf' class='nav-link' target='_blank'>Resume</a>
      </li>
    </ul>
  </nav>

</header>
