<main id='about'>
  <div class='bg-about'></div>
  <div class='about-container'>
    <h1 class='lg-heading about-heading'><span class='text-secondary'>About me</span></h1>
    <hr />
    <p class='about__p'>
      My name is Gabriel Tindi.I am Software Engineer currently freelancing. I am also a student at KCA university studying Bachelor of Science in Software Development. I love coding,i love technology and i am also open to new ideas that make the world a better place.
      My future goal is to contribute more to the community and learn more about new technologies that arise. 
      </p>
      <p class='about__p'>
		  Some technology I like to work with in <b>Web Development</b> are React, NodeJS, Python, Javascript, Flask and Bootstrap, with Vim as my text editor.
      </p>
      <p class='about__p'>
        <a href='mailto:tindigabriel@gmail.com'>
          <i class='fas fa-envelope-open-text fa-2x icon-fa'></i> Reach me out at <span>tindigabriel@gmail.com</span>
        <a/>
      </p>
  </div>

</main>
