<main id='about'>
  <div style="opacity: 0.2;" class='bg-about'></div>
  <div class='about-container'>
    <h1 class='lg-heading about-heading' style="font-size: 7vw;"><span class='text-secondary'>About me</span></h1>
    <hr style="width: 50vw;"/>
    <p class='about__p' style="font-size:3vw;">
Hello, I'm Gabriel, a Software Engineer based in Kenya. This is my dedicated space on the internet where I showcase my projects, tutorials, artwork, reflections, and anything else I wish to share with the world. 
Explore the projects page for highlights of my <a style="color: #3498DB;" href="https://github.com/Gtindi?tab=repositories">open-source contributions</a> 
and visit the <a style="color:#3498DB;" href="https://www.linkedin.com/in/gabrieltindi/recent-activity/articles/">blog</a> for tutorials and more.
I've deliberately kept my site free from ads, affiliate links, tracking, analytics, sponsored posts, and paywalls. 
The sole purpose of maintaining this site is to share my knowledge and experiences with others. Despite the challenges, 
I'm committed to contributing to a more positive online environment, even if it's just within this space. 
My hope is to inspire others to carve out their own creative corner on the web.
Feel free to reach out and say <a href="mailto:tindigabriel@gmail.com">hello</a>. I love to connect with new people.
  <ul style="font-size: 2.5vw;">
    <li><a style="color:#8E44AD;" href="https://github.com/Gtindi">Github</a></li>
    <li><a style="color:#8E44AD;" href="https://twitter.com/GabrielTindi">Twitter</a></li>
    <li><a style="color:#8E44AD;" href="https://www.instagram.com/tindi_codes/">Instagram</a></li>
  </ul>
      </p>
        <a href='mailto:tindigabriel@gmail.com'>
          <i class='fas fa-envelope-open-text fa-2x icon-fa'></i> Reach me out at <span style="color:aquamarine;">tindigabriel@gmail.com</span>
        <a/>
      </p>
  </div>

</main>
