<main id='about'>
  <div class='bg-about'></div>
  <div class='about-container'>
    <h1 class='lg-heading about-heading'><span class='text-secondary'>About me</span></h1>
    <hr />
      <p class='about__p' style="size:13px;">I am a conscientious, motivated person that has a strong interest for Software Engineering.
I am knowledgeable in C, Python, Javascript, TypeScript, HTML5, CSS, Flask, Shell, ES6, React, MySQL, NoSQL, & Redis
      </p>
      <p>
        <a href='mailto:tindigabriel@gmail.com'>
          <i class='fas fa-envelope-open-text fa-2x icon-fa'></i> Reach me out at <span>tindigabriel@gmail.com</span>
        <a/>
      </p>
  </div>

</main>
