<main id='home'>
  <div class='bg-home'></div>
  <div class='home-container'>
    <h2 class='lg-heading home__heading'>Gabriel <span class='text-secondary'>Tindi</span></h2>
    <h3 class='sm-heading home__title'>
      Software Engineer, & Entrepreneur.
    </h3>
    <!---Github-->
    <a href='https://github.com/Gtindi' class='icon-fa' target='_blank'>
      <i class='fab fa-github fa-2x'></i>
    </a>
    <!---LinkedIn-->
    <a href='https://www.linkedin.com/in/gabriel-tindi-447088150/' class='icon-fa' target='_blank'>
      <i class='fab fa-linkedin fa-2x'></i>
    </a>
    <!---Instagram-->
    <a href='https://www.instagram.com/tindi_codes/' class='icon-fa' target='_blank'>
      <i class='fab fa-instagram fa-2x'></i>
    </a>
</main>
