<main id='home'>
  <div style="opacity: 0.2;" class='bg-home'></div>
  <div class='home-container' style="margin-top: 0px;">
    <h2 style="font-size:7.5vw;" class='lg-heading home__title'>Hey, I'm<span class='text-secondary'> Gabriel Tindi</span></h2>
    <h1 style="color:#2ECC71;font-size:4.5vw;">
      Welcome to my digital garden &#127809;
    </h1>
    <h4 class="sm-heading" style="font-size: 30px;"> 
    I'm a software engineer in Kenya. I make <a style="color: #3498DB;" href="https://github.com/Gtindi?tab=repositories">open-source projects</a> and <a style="color: #3498DB;" href="https://www.linkedin.com/in/gabrieltindi/recent-activity/articles/">write about code, design, and life</a>. I like listening to music, drawing, sci-fi, reading, and chess.
    </h4>
    <!---Github-->
    <a href='https://github.com/Gtindi' class='icon-fa' target='_blank'>
      <i class='fab fa-github fa-2x'></i>
    </a>
    <!---LinkedIn-->
    <a href='https://www.linkedin.com/in/gabriel-tindi-447088150/' class='icon-fa' target='_blank'>
      <i class='fab fa-linkedin fa-2x'></i>
    </a>
    <!---Instagram-->
    <a href='https://www.instagram.com/tindi_codes/' class='icon-fa' target='_blank'>
      <i class='fab fa-instagram fa-2x'></i>
    </a>
    <!---Twitter-->
    <a href='https://twitter.com/GabrielTindi' class='icon-fa' target='_blank'>
      <i class="fab fa-twitter fa-2x"></i>
    </a>
  </div>
</main>
