<main id='home'>
  <div class='bg-home'></div>
  <div class='home-container'>
    <h1 class='lg-heading home__heading'>Agung <span class='text-secondary'>Tuanany</span></h1>
    <h2 class='sm-heading home__title'>
      Web Developer, Programmer & Entrepreneur.
    </h2>
    <a href='https://github.com/agungTuanany' class='icon-fa' target='_blank'>
      <i class='fab fa-github fa-2x'></i>
    </a>
    <a href='https://linkedin.com/in/agung-tuanany-758051a5' class='icon-fa' target='_blank'>
      <i class='fab fa-linkedin fa-2x'></i>
    </a>
</main>
