<main id='home'>
  <div class='bg-home'></div>
  <div class='home-container'>
    <h1 class='lg-heading home__heading'>Gabriel <span class='text-secondary'>Tindi</span></h1>
    <h2 class='sm-heading home__title'>
      Software Engineer
    </h2>
    <a href='https://github.com/Gtindi' class='icon-fa' target='_blank'>
      <i class='fab fa-github fa-2x'></i>
    </a>
    <!---LinkedIn-->
    <a href='https://www.linkedin.com/in/gabriel-tindi-447088150/' class='icon-fa' target='_blank'>
      <i class='fab fa-linkedin fa-2x'></i>
    </a>
</main>
